@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

* {
  font-family: 'Jost', sans-serif;
}

.logo {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
}

.body {
  background: rgb(218, 218, 218);
  min-height: 100vh;
}

input {
  background: transparent !important;
  border: 1px solid #fff !important;
}

.weather_card {
  background: #fff !important;
  padding: 50px;
  border-radius: 10px;
}

.weather_image {
  width: 80px;
  margin-bottom: 30px;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 5px;
}

.second p {
  letter-spacing: 1px;
  color: gray;
}

.location {
  letter-spacing: 2px;
}

.time {
  color: gray;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.city_option{
  list-style: none;
  cursor: pointer;
  margin: 10px;
  background: rgb(228, 228, 228);
  padding: 10px;
  border-radius: 7px;
}